doctype html

html
head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  h2 3-axis accelerometer using javascript
  p Accelerometer is used to measured acceleration produced by the object in all the direction. A good article on accelerometer is provided by <a href = "http://www.dimensionengineering.com/info/accelerometers">dimension engineering</a>
  h2 Part and software used
  ul
  li: Intel edison
  li: <a href = "http://www.seeedstudio.com/wiki/Grove_-_3-Axis_Digital_Accelerometer%28%C2%B11.5g%29#With_Raspberry_Pi">3 axis digital accelerometer</a> from <a href = "http://www.seeedstudio.com/depot/Grove-3Axis-Digital-Accelerometer15g-p-765.html">grove kit(by default  connected to i2c 0)//to change to different i2c look below
  li: Intel xDK IoT software to send software


